<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
        <typeAlias type="com.study_project.web.beer.model.Beer" alias="Beer" />
    </typeAliases>
    
	<mappers>
		<mapper resource="sqlMap/sqlmap_login.xml"/>
		<mapper resource="sqlMap/sqlmap_soju.xml"/>
		<mapper resource="sqlMap/sqlmap_beer.xml"/>
	</mappers>

</configuration>