<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
        <typeAlias type="com.study_project.web.beer.model.Beer" alias="Beer" />
        <typeAlias type="com.study_project.web.beer.model.Comment" alias="Comment" />
        <typeAlias type="com.study_project.web.beer.model.Like" alias="Like" />
    </typeAliases>
    
	<mappers>
		<mapper resource="com/study_project/web/mapper/sqlMap/sqlmap_login.xml"/>
		<mapper resource="com/study_project/web/mapper/sqlMap/sqlmap_soju.xml"/>
		<mapper resource="com/study_project/web/mapper/sqlMap/sqlmap_beer.xml"/>
		<mapper resource="com/study_project/web/mapper/sqlMap/sqlmap_sojuLike.xml"/>
		<mapper resource="com/study_project/web/mapper/sqlMap/sqlmap_beerComment.xml"/>
		<mapper resource="com/study_project/web/mapper/sqlMap/sqlmap_beerLike.xml"/>
	</mappers>

</configuration>